:root {
    --fundoLogin: rgb(132, 169, 218);
    --corFonteLogin: rgb(166, 204, 255);
    --btnSistema: rgb(0, 0, 0);
    --corFonteBotao:rgb(0, 0, 0);
    --corbtnSistemaHover:rgb(0, 0, 0);
    --corFonteBotao:rgb(0, 0, 0);


}
